@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&display=swap");

:root {
  --color-orange: hsl(31, 77%, 52%);
  --color-cyan: hsl(184, 100%, 22%);
  --color-cyan-dark: hsl(179, 100%, 13%);
  --color-white-light: hsla(0, 0%, 100%, 0.75);
  --color-gray-light: hsl(0, 0%, 95%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  font-size: 1.5rem;
  font-family: "Lexend Deca", sans-serif;
}

img {
  display: block;
}

main {
  min-height: 100vh;
  width: 100%;
  background-color: var(--color-gray-light);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card-container {
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card:first-of-type {
  background-color: var(--color-orange);
}

.card:first-of-type button {
  color: var(--color-orange);
}

.card:nth-of-type(2) {
  background-color: var(--color-cyan);
}
.card:nth-of-type(2) button {
  color: var(--color-cyan);
}

.card:last-of-type {
  background-color: var(--color-cyan-dark);
}
.card:last-of-type button {
  color: var(--color-cyan-dark);
}

.card {
  padding: 5rem 5rem;
  width: 31rem;
}

.card__img {
  margin-bottom: 3rem;
}

.card__heading {
  margin-bottom: 3rem;
  font-family: "Big Shoulders Display", cursive;
  color: var(--color-gray-light);
  text-transform: uppercase;

  font-size: 3.5rem;
}

.card__para {
  margin-bottom: 8rem;
  color: var(--color-white-light);
}

.card__button {
  background-color: var(--color-gray-light);
  padding: 1rem 2.5rem;
  border: 0;
  outline: 0;
  border-radius: 10rem;
  cursor: pointer;
  transition: all 0.3s;
  font-size: inherit;
}

.card__button:hover {
  background-color: transparent;
  border: 2px solid var(--color-gray-light);
  color: var(--color-gray-light) !important;
}

@media (max-width: 66rem) {
  .card {
    width: 100%;
  }
}

.attribution {
  font-size: 11px;
  text-align: center;
  padding: 1rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
